{{ define "champion-card" }}
<div class="col s12">
    <div class="container center-align">
        <h4>{{.Champion.Season.Year}} Champ</h4>
        <p>{{.Champion.Owner.Name}}</p>
    </div>
    <hr>
</div>
{{ end }}
