{{define "recent-transactions"}}
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text center-align">
                <span class="card-title">2020 Champ</span>
                <p>Henry Mahomes Plus Some Others</p>
            </div>
        </div>
    </div>
{{end}}
