{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta char-set="utf-8" />

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Glory:wght@100;300;400;800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="./static/site.css" />


        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{template "title" .}} - MDGA</title>
    </head>

    <body>
        {{template "banner" .}}

        <main>
        {{template "main" .}}
        </main>

        <footer class='pager-footer'>
        {{template "footer" .}}
        </footer>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {{block "js" .}}
        <script>
           M.AutoInit();
        </script>
        {{end}}
    </body>
</html>
{{end}}
