body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    /* light */
    --text-color: #2b303a;
    --bkg-color: #edf2ef;
    --accent-color: #048a81;
    --accent-color-2: #615cff;
}
body.dark-theme {
    /* dark */
    --bkg-color: #2b303a;
    --text-color: #edf2ef;
    --accent-color: #f39a9d;
    --accent-color-2: #8885ff;
}

@media screen and (prefers-color-scheme: dark) {
    body {
    /* dark */
        --bkg-color: #2b303a;
        --text-color: #edf2ef;
        /* --accent-color: #508ca4; */
        --accent-color: #f39a9d;
        --accent-color-2: #8885ff;
    }
    body.light-theme {
        /* light */
        --text-color: #2b303a;
        --bkg-color: #edf2ef;
        --accent-color: #048a81;
        --accent-color-2: #615cff;
    }
}

* {
    font-family: 'Glory', sans-serif;
}

h1, h2, h3, h4, h5, h6, .card-title {
    color: var(--text-color)
}

.card {
    background-color: var(--bkg-color);
    color: var(--text-color)
}

body,nav {
    background-color: var(--bkg-color);
    color: var(--text-color);
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid var(--text-color);
}

.standing-entry:hover {
    color: var(--accent-color-2);
}
